header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}


/* CTA */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* Socials */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 25rem;
}

/* .header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
} */

/* .scroll-down::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
  transform: rotate(-90deg);
} */

/* IMG */

/* .me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
} */


/* scroll down */

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
    position: absolute;
    right: -2.3rem;
    bottom: 25rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


@keyframes spin1 {
  to {
    transform: perspective(600px) rotateX(360deg) rotateY(450deg) rotateZ(0deg);
  }
}
@keyframes spin2 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(630deg) rotateZ(0deg);
  }
}
@keyframes spin3 {
  0% {
    transform: perspective(600px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(450deg) rotateY(0deg) rotateZ(-360deg);
  }
}
@keyframes spin4 {
  0% {
    transform: perspective(600px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(270deg) rotateY(0deg) rotateZ(360deg);
  }
}
@keyframes spin5 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(360deg) rotateZ(0deg);
  }
}
@keyframes spin6 {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(600px) rotateX(360deg) rotateY(540deg) rotateZ(0deg);
  }
}

/* Cube styles */

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.box3d div {
  position: absolute;
  left: 0;
  top: 20;
  width: 60px;
  height: 60px;
  opacity: 0.95;
  transform-origin: 50% 50% -60px;
}

.box3d {
  margin-top: 1em;
  width: 60px;
  height: 60px;
  margin: 90px auto;
  position: relative;
  transform-style: preserve-3d;
}

.p1 {
  background: #ff52e8;
  transform: perspective(600px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  animation: spin1 10s infinite linear;
}

.p1 img,
.p2 img,
.p3 img,
.p4 img,
.p5 img,
.p6 img {
  height: 60px;
  width: 60px;
  margin: 0.5em;
}

.p2 {
  background: #deb618;
  color: black;
  animation: spin2 10s infinite linear;
}

.p3 {
  background: #27f5cf;
  color: black;
  animation: spin3 10s infinite linear;
}

.p4 {
  background: #d982e0;
  animation: spin4 10s infinite linear;
}

.p5 {
  background: #5021eb;
  animation: spin5 10s infinite linear;
}

.p6 {
  background: #27f5cf;
  animation: spin6 10s infinite linear;
}

/* media queries  */

@media screen and (max-width: 1024px) {
    
    /* header {
        height: 68vh;    
    } */

}

@media screen and (max-width: 600px) {
    
   header {
        height: 100vh;    
    }

    .header__socials, header .scroll-down {
        display: none;
    }
}

